<!-- views/tournament.ejs -->
<!doctype html>
<html>
<head>
	<title><% if(typeof data!=="undefined" && data!=null) { %> <%=data.name%> <% } %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/styles/style.css"> <!-- load fontawesome -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div class="menu">
<%  if(!loggedIn) { %>
<a style="float:right;height:30px;"href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
<% } else { %>
<a style="float:right;height:30px;"href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Profile</a>
<% } %>
</div>

<div class="container">
<div class="col-sm-6 col-sm-offset-3">
<h1>Oops, something went wrong!</h1>

<% if (typeof message!=="undefined" && message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
<% } %>
<% if (typeof link!=="undefined" && link.length > 0) { %>
<a href="<%= link %>"><%= gobackTxt %></a>
<% } %>
</div>
</div>
</body>
</html>	 